.consultas {
    padding: 0 16px;
    height: calc(100vh - 110px - 58px);
    overflow-y: auto;
}

.consulta-data {
    display: flex;
    align-items: center;
    height: 46px;
}

.consultas ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.consulta-card {
    background: var(--fundo-card);
    display: flex;
    flex-direction: column;
    width: 328px;
    height: 160px;
    padding: 16px 16px 0;
    border-radius: 8px;
    margin-bottom: 16px;
    max-width: 100%;
    max-height: 100%;
}
  
.card-titulo {
    display: flex;
    justify-content: space-between;
}
  
.card-paciente {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
  
.card-paciente>img {
    width: 20%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}
  
.card-paciente>div{
    display: flex;
    flex-direction: column;
}
  
.card-titulo .card-chat {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: var(--cinza-secundario);
    background-image: url('../assets/icons/Chat.png');
    background-repeat: no-repeat;
    background-position: center;
}
  
.card-paciente strong {
    font-size: 14px;
}
  
.card-paciente span{
    font-size: 12px;
    color: var(--texto-claro);
    display: flex;
    align-items: center;
}
  
.card-paciente span>span {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center;
}
  
.card-paciente span>span.camera {
    background-image: url('../assets/icons/Camera.png');
}
  
.card-paciente span>span.mapa {
    background-image: url('../assets/icons/Pin.png');
}
  
.card-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 82px;
    border-top: 1px solid #46464619;
}
  
.card-conteudo p {
    font-size: 12px;
    margin: 8px 0;
}
  
.card-acoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-acoes button {
    min-width: 140px;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    padding: 13px 16px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 80%;
}
  
.card-acoes button:only-of-type {
    margin: 0;
}

@media (min-width: 1200px) {
    .consultas ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        padding: 0px;
        margin: 0;
    }

    .consulta-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 170px;
    }  
}

@media (min-width: 768px) and (max-width: 1024px) {
    .consultas ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 0px; 
    }
}