.rodape {
    width: 100%;
    height: 58px;
    border-radius: 12px 12px 0 0;
    background-color: var(--branco);
    filter: drop-shadow(0 -1px 3px #46464625);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rodape nav {
    width: 100%;
}

.rodape nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.rodape nav .rodape-acao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--texto-claro);
    font-size: 12px;
}

.rodape nav .rodape-acao:first-child {
    color: var(--cor-primaria);
}

.rodape-acao span {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rodape-acao span.consultas-icone {
    background-image: url('../assets/icons/Calendario.png');
}

.rodape-acao span.clientes-icone {
    opacity: 30%;
    background-image: url('../assets/icons/Clientes.png');
}

.rodape-acao span.relatorios-icone {
    opacity: 30%;
    background-image: url('../assets/icons/Relatorio.png');
}

.rodape-acao span.menu-icone {
    opacity: 30%;
    background-image: url('../assets/icons/Menu.png');
}

@media (min-width: 1200px) {
    .rodape {
        width: 250px;
        height: 100vh;
        background-color: var(--branco);
        filter: drop-shadow(0 -1px 3px #46464625);
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 20px;
        align-items: normal;
        border-radius: 0px;
    }

    .rodape nav>ul {
        flex-direction: column;
    }

    .rodape nav .rodape-acao {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: flex-end;
        justify-content: flex-start;
        margin: 15px;
        font-size: 100%;
    }

    .texto-icone {
        margin-left: 10px;
    }
}